<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        Zonifero-praktyki
    </title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="header__logo">
            <img src="./assets/images/logo.png" alt="logo">
        </div>
        <nav class="header__nav">
            <a link='#' class="header__nav__link header__nav__link--small">Zonifero products</a>
            <a link='#' class="header__nav__link header__nav__link--small">Store</a>
            <a link='#' class="header__nav__link header__nav__link--small">Blog</a>
            <a link='#' class="header__nav__link ">
                <img src="./assets/images/globe.png" alt="globe" class="header__nav__link--globe">
                <div class="header__nav__link header__nav__link__drop-down-arrow"></div>
            </a>
            <a link='#' class="header__nav__link">Sing in</a>
            <a link='#' class="header__nav__link header__nav__link--blue">Get the app</a>
        </nav>
        <nav class="header__nav-mob">
            <ul class="header__nav-mob-list">
                <li class="header__nav-mob-logo">
                    <img src="./assets/images/logo.png" alt="logo">
                </li>
                <li class="header__nav-mob-work-place"> zanifero WorkPlace: </li>
                <li class="header__nav-mob-hamburger">
                    <div class="header__nav-mob-hamburger-line"></div>
                    <div class="header__nav-mob-hamburger-line"></div>
                    <div class="header__nav-mob-hamburger-line"></div>
                </li>
                </u>
        </nav>
    </header>
    <!--Navigation -->
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__work-place">
                zanifero WorkPlace:
            </li>
            <li class="nav__link">
                <a link='#'>Overview</a>
            </li>
            <li class="nav__link">
                <a link='#'>Features</a>
            </li>
            <li class="nav__link">
                <a link='#'>Specs</a>
            </li>
            <li class="nav__link">
                <a link='#'>FAQ</a>
            </li>
            <li class="nav__link">
                <a link='#'>Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Overview -->
    <div class="overview wrapper">
        <section class="overview__hero">
            <h1 class="overview__title">Streamline your workspace</h1>
            <div class="overview__container overview__image">
                <img class="overview__hand" src="./assets/images/hand.png" alt="hand" class="hand">
                <!-- <img class="overview__hand-mobile" src="./assets/images/mob_streamline.png" alt="hand" class="hand"> -->

            </div>
            <div class="overview__info">
                <p class="overview__description">Effective and quickly from mobile device. Staying connectedhas never been easier with zonifero WorkPlace.</p>
                <div class="overview__app-links">
                    <a class="overview__app-link" href="https://play.google.com/store">
                        <img class="overview__app-badge" src="./assets/images/Google_play.svg" alt="google-play-badge">
                    </a>
                    <a class="overview__app-link" href="https://www.apple.com/itunes/">
                        <img class="overview__app-badge" src="./assets/images/App_Store_Badge.svg" alt="app-store-badge">
                    </a>
                </div>
            </div>
        </section>
    </div>
    <!-- For-who -->
    <div class="for-who wrapper">
        <ul class="for-who__list">
            <li class="for-who__list-item">
                <h4 class="for-who__list-title">Managment</h4>
                Tools for real-time managment of all you facilities and people across multiple site. Ease, speed and effectivness of facilites
                communication.
            </li>
            <li class="for-who__list-item">
                <h4 class="for-who__list-title">Employees</h4>
                Improved productiviy and satisfaction as your employees stay informed, connected adn can feed requests and updatesin real
                time
            </li>
            <li class="for-who__list-item">
                <h4 class="for-who__list-title">Visitors</h4>
                A smoth and welcoming visitor experience - easy navigation around your facilites
            </li>
        </ul>
    </div>

</body>

</html>