<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        Zonifero-praktyki
    </title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="header__logo">
            <img src="./assets/images/logo.png" alt="logo">
        </div>
        <nav class="header__nav">
            <a link='#' class="header__nav__link header__nav__link--small">Zonifero products</a>
            <a link='#' class="header__nav__link header__nav__link--small">Store</a>
            <a link='#' class="header__nav__link header__nav__link--small">Blog</a>
            <a link='#' class="header__nav__link ">
                <img src="./assets/images/globe.png" alt="globe" class="header__nav__link--globe">
                <div class="header__nav__link header__nav__link__drop-down-arrow"></div>
            </a>
            <a link='#' class="header__nav__link">Sing in</a>
            <a link='#' class="header__nav__link header__nav__link--blue">Get the app</a>
        </nav>
        <nav class="header__nav-mob">
            <ul class="header__nav-mob-list">
                <li class="header__nav-mob-logo">
                    <img src="./assets/images/logo.png" alt="logo">
                </li>
                <li class="header__nav-mob-work-place"> zanifero WorkPlace: </li>
                <li class="header__nav-mob-hamburger">
                    <div class="header__nav-mob-hamburger-line"></div>
                    <div class="header__nav-mob-hamburger-line"></div>
                    <div class="header__nav-mob-hamburger-line"></div>
                </li>
                </u>
        </nav>
    </header>
    <!--Navigation -->
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__work-place">
                zanifero WorkPlace:
            </li>
            <li class="nav__link">
                <a link='#'>Overview</a>
            </li>
            <li class="nav__link">
                <a link='#'>Features</a>
            </li>
            <li class="nav__link">
                <a link='#'>Specs</a>
            </li>
            <li class="nav__link">
                <a link='#'>FAQ</a>
            </li>
            <li class="nav__link">
                <a link='#'>Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Overview -->
    <div class="overview wrapper">
        <section class="overview__hero">
            <h1 class="overview__title">Streamline your workspace</h1>
            <div class="overview__container overview__image">
                <img class="overview__hand" src="./assets/images/hand.png" alt="hand" class="hand">
                <!-- <img class="overview__hand-mobile" src="./assets/images/mob_streamline.png" alt="hand" class="hand"> -->

            </div>
            <div class="overview__info">
                <p class="overview__description">Effective and quickly from mobile device. Staying connectedhas never been easier with zonifero WorkPlace.</p>
                <div class="overview__app-links">
                    <a class="overview__app-link" href="https://play.google.com/store">
                        <img class="overview__app-badge" src="./assets/images/Google_play.svg" alt="google-play-badge">
                    </a>
                    <a class="overview__app-link" href="https://www.apple.com/itunes/">
                        <img class="overview__app-badge" src="./assets/images/App_Store_Badge.svg" alt="app-store-badge">
                    </a>
                </div>
            </div>
        </section>
    </div>
    <!-- For-who -->
    <div class="for-who wrapper">
        <ul class="for-who__list">
            <li class="for-who__list-item">
                <h4 class="for-who__list-title">Managment</h4>
                Tools for real-time managment of all you facilities and people across multiple site. Ease, speed and effectivness of facilites
                communication.
            </li>
            <li class="for-who__list-item for-who__list-item--unactive">
                <h4 class="for-who__list-title">Employees</h4>
                Improved productiviy and satisfaction as your employees stay informed, connected adn can feed requests and updatesin real
                time
            </li>
            <li class="for-who__list-item for-who__list-item--unactive">
                <h4 class="for-who__list-title">Visitors</h4>
                A smoth and welcoming visitor experience - easy navigation around your facilites
            </li>
        </ul>
    </div>

    <!-- ---- -->
    <!-- Problem solving app -->
    <div class="problem-solving-app">
        <h4 class="problem-solving-app__header">Problem solving app</h4>
        <ul class="problem-solving-app__list">
            <li class="problem-solving-app__list-item">
                <img src="./assets/images/desk_icon.png" alt="desk-icon">
                <h5 class="problem-solving-app__list-item-header">
                    Use your time and space smarter
                </h5>
                Never again run out of coffee or other supplies. Create any efficient hive for your busy bees.
            </li>
            <li class="problem-solving-app__list-item">
                <img src="./assets/images/desk_icon.png" alt="desk-icon">
                <h5 class="problem-solving-app__list-item-header">
                    Never strees about meeting again
                </h5>
                Zanifero will measure how you use the room so that you always have enougth rooms available.
            </li>
            <li class="problem-solving-app__list-item">
                <img src="./assets/images/desk_icon.png" alt="desk-icon">
                <h5 class="problem-solving-app__list-item-header">
                    Find the rght person in a breeze
                </h5>
                Can't keep track pf your peers in large office space? Zanifero can pinpoint their location.
            </li>
            <li class="problem-solving-app__list-item">
                <img src="./assets/images/desk_icon.png" alt="desk-icon">
                <h5 class="problem-solving-app__list-item-header">
                    Save your desk and room space
                </h5>
                Zanifero will tell you which desks and rooms are in use and how many and which of them are idle.
            </li>
            <li class="problem-solving-app__list-item">
                <img src="./assets/images/desk_icon.png" alt="desk-icon">
                <h5 class="problem-solving-app__list-item-header">
                    Swiftly indroduce new employees
                </h5>
                With build-in maps, Q&A and notifications, new bees can find their way around the office.
            </li>
        </ul>
    </div>
    <!-- Features -->
    <!-- <div class="features">
        <h4 class="features__section-header">Features</h4>
        <section class="features__wrapper">
            <img class="features__phone" src="./assets/images/Silver.png" alt="silver-phone">
            <div class="features__image-section"></div>
            <div class="features__blue-background">
                <div class="features__text-section">
                    <h3 class="features__header">Hot desk booking. Like a pro.</h3>
                    <p class="features__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique velit id finibus convallis. Fusce
                        eget purus aliquet libero euismod blandit sed eu enim. Curabitur eget arcu ut augue.</p>
                </div>
                <button class="features__button">View and download full specs</button>
            </div>
        </section> -->
    </div>

    <!-- Bring to 21st -->
    <div class="bring-to-21st">
        <section class="bring-to-21st__head">
            <div class="bring-to-21st__text">
                <h2 class="bring-to-21st__header">Bring your build back to 21st century</h2>
                <p class="bring-to-21st__description">The IoT allows your office to be sensed or controlled remotely across existing network infrastructure. Track
                    and analyse workplace performance to gain your office efficiency. Maecenas vitae enim pulvinar, gravida
                    ligula et, semper neque.</p>
            </div>
            <div class="bring-to-21st__image">
                <img class="bring-to-21st__image-box" src="./assets/images/Layer 59.png" alt="IoT-device">
            </div>
        </section>
        <section class="bring-to-21st__features">
            <ul class="bring-to-21st__features-list">
                <li class="bring-to-21st__features-list-item">
                    <h5 class="bring-to-21st__features-header">Sensors</h5>
                    The integration of zonifero with motion sensors allows dynamic display of occupancy of rooms and desks on the map. The functionality
                    is especially useful in the case of rapidly changing availability of rooms. The use of motion sensors
                    in the office allows you to generate heat maps for offices.
                </li>
                <li class="bring-to-21st__features-list-item bring-to-21st__features-list-item--unactive">
                    <h5 class="bring-to-21st__features-header">Real-time conference room and desk availability update</h5>
                    Zonifero business supports the booking of hot-desks, meeting and other rooms. Reservations can be made from the application
                    on the tablet in front of the room or directly from the calendar in Office365 or G Suite. Room reservations
                    can also be made for businesses that do not use Office 365 or G Suite. zonifero business also has a calendar
                    feature that can be run on a tablet in front of the conference room. This part of the app is protected
                    so that it can run only this application.
                </li>
            </ul>
        </section>
    </div>

</body>

</html>