<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        Zonifero-praktyki
    </title>
</head>

<body>
    <!-- Header -->
    <header>
        <img src="" alt="zonifero-logo-text">
        <nav>
            <ul>
                <li>Zonifero products</li>
                <li>Store</li>
                <li>Blog</li>
                <li>
                    <img src="" alt="world-icon">
                </li>
                <li>Sing in</li>
                <li>Get the app</li>
            </ul>
        </nav>
    </header>
    <!--Navigation -->
    <nav>
        <ul>
            <li>zanifero WorkPlace</li>
            <li>Overview</li>
            <li>Features</li>
            <li>Specs</li>
            <li>FAQ</li>
            <li>Contact</li>
        </ul>
    </nav>
    <!-- Overview -->
    <div class="overview">
        <div class="overview__hero">
            <h1 class="overview__title">Streamline your workspace</h1>
            <p class="overview__desc">Effective and quickly from mobile device. Staying connectedhas never been easier with zonifero WorkPlace.</p>
            <div class="overview__app-links">
                <button>
                    <a href="http://">
                        <img src="" alt="google-play">
                    </a>
                </button>
                <button>
                    <a href="http://">
                        <img src="" alt="app-stroe">
                    </a>
                </button>
            </div>
            <img src="" alt="hero-phone" class="hero-phone">
        </div>
        <div class="overview__for-how">
            <ul>
                <li>
                    <h2>Managment</h2>
                    Tools for real-time managment of all you facilities and people across multiple site.Ease, speed and effectivness of facilites
                    communication.
                </li>
                <li>
                    <h2>Employees</h2>
                    Improved productiviy and satisfaction as your employees stay informed, connected adn can feed requests and updatesin real
                    time
                </li>
                <li>
                    <h2>Visitors</h2>
                    A smoth and welcoming visitor experience - easy navigation around your facilites
                </li>
            </ul>
        </div>
        <div class="overview__problem-solving-app">
            <div>
                <img src="" alt="tables">
                <h3>
                    Use your time and space smarter
                </h3>
                <p>
                    Never again run out of coffee or other supplies. Create any efficient hive for your busy bees.
                </p>
            </div>
            <div>
                <img src="" alt="tables">
                <h3>
                    Never strees about meeting again
                </h3>
                <p>
                    Zanifero will measure how you use the room so that you always have enougth rooms available.
                </p>
            </div>
            <div>
                <img src="" alt="tables">
                <h3>
                    Find the rght person in a breeze
                </h3>
                <p>
                    Can't keep track pf your peers in large office space? Zanifero can pinpoint their location.
                </p>
            </div>
            <div>
                <img src="" alt="tables">
                <h3>
                    Save your desk and room space
                </h3>
                <p>
                    Zanifero will tell you which desks and rooms are in use and how many and which of them are idle.
                </p>
            </div>
            <div>
                <img src="" alt="tables">
                <h3>
                    Swiftly indroduce new employees
                </h3>
                <p>
                    With build-in maps, Q&A and notifications, new bees can find their way around the office.
                </p>
            </div>
        </div>
    </div>
    <!-- Features -->
    <div class="features">

    </div>
    <!-- Specs -->
    <div class="specs">

    </div>
    <!-- FAQ -->
    <div class="faq">

    </div>
    <!-- Contact -->
    <div class="contact">

    </div>
</body>

</html>