@import '../mixin.scss';
.for-who {
  // padding-left: $content-margin;
  padding-top: $large-metric;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    flex-direction: row;
    width: $content-width;
    justify-content: space-between;
  }
  &__list-item {
    @include font-paragraph;
    text-justify: auto;
    width: $col-3;
  }
  &__list-title {
    @include font-description;
  }
}

@media (max-width: $mobile-width) {
  .for-who {
    display: flex;
    justify-content: center;
    margin-top: 14rem;
    padding-top: 0;
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
    }
    &__list-item {
      width: 100%;
      &--unactive {
        display: none;
      }
    }
    &__list-title {
      @include font-alternative-section-header;
      font-size: 2.5rem;
      line-height: 4rem;
    }
  }
}