@import '../mixin.scss';
.for-who {
  padding-left: $content-margin;
  background-color: $background-color;
  &__list {
    display: flex;
    flex-direction: row; 
  }
  &__list-item {
    @include font-paragraph;
    margin-right: $xx-large-metric;
    text-justify: auto;
  }
  &__list-title {
    @include font-description;
  }
}