@import '../mixin.scss';
.nav {
  font-size: $m-font-size;
  margin-left: $content-margin;
  display: flex;
  max-width: 849px;
  height: 7.1rem;
  margin-top: 5rem;
  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__work-place {
    @include font-list-unactive;
  }
  &__link {
    @include font-list-unactive;
    font-weight: 400;
    &:hover {
      font-weight: bold;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        height: 3.5px;
        width: 50%;
        background-color: $secondary-color;
        margin-top: 0.7rem;
      }
    }
  }
}