@import '../mixin.scss';
.overview {
  width: 100%;
  background-image: url('../images/first_section_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  &__hero {
    display: flex;
    margin-left: $content-margin;
    overflow: hidden;
  }
  &__text {
    align-self: center;
  }
  &__title {
    @include font-big-headline--blue;
    margin: 0;
  }
  &__description {
    @include font-description;
  }
  &__app-links {
    display: flex;
  }
  &__app-link {
    flex: 0.07 0 auto;
  }
  &__app-badge {
    max-height: 4.59rem;
  }
  &__image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
  &__hand {
    height: 90%;
  }
}