.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  &__logo {
    height: 1.8rem;
    margin-left: 3.5%;
    flex: 1 1 auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex: 1 0 auto;
    height: 100%;
    font-size: $s-font;
    &__link {
      height: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 1.6rem;
      &--small {
        font-size: $nav-font;
      }
      &--globe {
        height: auto;
      }
      &--blue {
        color: $white;
        height: 100%;
        background-color: $blue;
        width: 28rem;
        padding-left: 5.7rem;
      }
      &__drop-down-arrow {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        height: 0;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}