// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// @import '~bourbon-neat/core/_neat.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import 'variables';
@import 'mixin';
@import 'neat';
@import 'grid-desktop';
@import 'components/header';
@import 'components/navigation';
@import 'components/overview';
@import 'components/for-who';
@import 'components/problem-solving-app';
@import 'components/features';
@import 'components/specs-example';
@import 'components/specs-list';
@import 'components/specs-info';
@import 'components/download';
@import 'components/bring-21st';
@import 'components/contact-form';
@import 'components/footer';
html {
  box-sizing: border-box; //---
  // Font-size - calculated using https://offroadcode.com/rem-calculator
  // Base font-size=10px; http://pxtoem.com/ 
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

body,
ul,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: $black;
  text-decoration: none;
}