@mixin font-big-headline {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 7rem;
  color: $black;
  line-height: 8rem;
}

@mixin font-big-headline--blue {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 7rem;
  color: $product-color;
  line-height: 8rem;
}

@mixin font-big-headline-mobile {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: $black;
  line-height: 5rem;
}

@mixin font-big-headline-mobile--blue {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: $product-color;
  line-height: 8rem;
}

@mixin font-small-headline {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: $black;
  line-height: 8rem;
}

@mixin font-description {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: $black;
  line-height: 4rem;
}
@mixin font-description-mobile {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  color: $black;
  line-height: 3.2rem;
}

@mixin font-alternative-section-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: $black;
}

@mixin font-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: $black;
  line-height: 2.5rem;
}

@mixin font-paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: $black;
  line-height: 2.5rem;
}

@mixin font-list-unactive {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  color: $black;
  line-height: 2.6rem;
}

@mixin font-list-active {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  color: $product-color;
  line-height: 2.6rem;
}

@mixin font-input-mobile {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: $black;
  line-height: 3rem;
}

