// Colors
$white:#ffffff;
$black:#000000;
$product-color: #3146FF;
$secondary-color:#01FFCB;
$background-color:#F7F7F7;
$danger:#FF0000;
// Font-size - calculated using https://offroadcode.com/rem-calculator Base font-size=10px;
$xs-font-size:1.3rem;
$s-font-size:1.7rem;
$m-font-size:1.9rem;
$l-font-size:3rem;
$xl-font-size:5rem;
$xxl-font-size:7rem;
// Margin left or rigth
$content-margin:18%; //34.4rem
$content-width:64%;
// Metrics
$x-small-metric:1rem;
$small-metric:2rem;
$base-metric:3rem;
$medium-metric:4rem;
$large-metric:6rem;
$x-large-metric:9rem;
$xx-large-metric:12rem;
// Column width
$col-2:45%;
$col-3:30%;